#OS / editor
.DS_Store
.vscode/

#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

#Snakemake working directory
.snakemake/

#Logs
logs/

#Generated results
results/

#Bowtie2 index files
*.bt2
*.bt2l

#BLAST databases
ref/blastdb/

#Downloaded raw data
data/

#Downloaded reference databases
ref/betaherpes_db/

#Local test files
test_raw_count.txt
test_filtered_count.txt
test_summary.txt

!results/AbdulMuiz_PipelineReport.txt